* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.container {
    max-width: 80%;
    /*background-color: rgb(195, 255, 205);*/
    padding: 34px;
    margin: auto;
}

.container h1,
p {
    text-align: center;
}

input,
textarea {
    border: 2px solid aqua;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    width: 80%;
    margin: 11px auto;
    padding: 4px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    background-color: rgb(129, 255, 255);
    padding: 6px 6px;
    font-size: 15px;
    border: 2px solid green;
    border-radius: 8px;
    cursor: pointer;
}

.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

.submitmsg {
    font-size: 24px;
    color: green;
}

.Entermsg {
    font-size: 16px;
}